:root{
    --black: #1C1D24;
    --dark-red: #a8041d;
    --dark-green: #174240;
    --red: #eb0404;
    --green: #01c321;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--black);
}
#centralizar{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}
.container{
    width: 400px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: whitesmoke;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}
h1{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 19%;
    transform: translateX(-50%);
    font-size: 40px;
}
img{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
    left: 25%;
}
p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
}
button{
    background-color: var(--black);
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 16px;
    padding: 15px 0;
    width: 150px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: #08080c;
    transition: ease 0.3s;
}
.spin{
    -webkit-animation: spin 1.5s linear ;
    -moz-animation: spin 1.5s linear ;
    animation: spin 0.5s linear ;
    animation-duration: 1s;
}
@-webkit-keyframes spin{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(360deg);}
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}