:root{
    --black: rgb(28, 29, 36);
    --white: whitesmoke;
    --dark-red: #a8041d;
    --dark-green: #174240;
    --red: #eb0404;
    --green: #01c321;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
}
#centralizar{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.container{
    width: 70%;
    max-width: 400px;
    padding: 30px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: whitesmoke;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}
h1{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
    font-size: 40px;
}
img{
    width: 50%;
    margin-bottom: 5px;
    position: relative;
    left: 25%;
}
p{
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}
.modificador{
    width: 145px;
    height: 46px;
    display: flex;
    margin-bottom: 25px;
    border: 3px solid rgb(28, 29, 36);
    border-radius: 5px;
}
input[type="number"]{
    background-color: var(--white);
    -moz-appearance: textfield;
    text-align: center;
    font-size: 30px;
    border: none;
    width: 80px;
    pointer-events: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
button{
    width: 30px;
    color: #3264fe;
    background-color: var(--white);
    border: none;
    font-size: 38px;
    cursor: pointer;
}
.botao{
    background-color: var(--black);
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 16px;
    padding: 15px 0;
    width: 150px;
    border-radius: 5px;
}
.botao:hover{
    cursor: pointer;
    background-color: #08080c;
    transition: ease 0.3s;
}
.spin{
    -webkit-animation: spin 0.3s linear;
    -moz-animation: spin 0.3s linear;
    animation: spin 0.3s linear;
    animation-duration: 0.3s;
}
@-webkit-keyframes spin{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(120deg);}
}
@-moz-keyframes spin{
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(120deg);}
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(120deg);}
}
@media only screen and (max-width: 460px){
    h1{
        font-size: 26px;
    }
    p{
        font-size: 20px;
    }
}